exportPattern("^[[:alpha:]]+")
import(reticulate)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,labs)
importFrom(ggplot2,scale_y_continuous)
importFrom(ggplot2,theme_minimal)
importFrom(ggplot2,theme)
importFrom(ggplot2,element_text)
importFrom(ggplot2,ggsave)
importFrom(utils,head)
